* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  height: 200px;
  padding: 20px 0;
}

.logo {
  width: 50%;
}

.menu {
  padding-top: 20px;
  width: 50%;
  text-align: left;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}

section.sobre {
  height: calc(100% - 210px);
  position: relative;
}

.extras {
  position: absolute;
  bottom: -650px;
  right: -700px;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background-color: #017143;
}

.social-media {
  position: absolute;
  right: 730px;
  top: 200px;
}

.social-media img {
  display: block;
  width: 20px;
  margin: 20px 0;
}

.texto-sobre {
  margin-top: 100px;
}

.texto-sobre h1 {
  font-size: 45px;
}

.texto-sobre p {
  margin: 20px 0;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.texto-sobre button {
  border: 0px;
  background-color: #017143;
  color: white;
  border-radius: 10px;
  width: 88px;
  height: 30px;
  cursor: pointer;
}
